<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {padding: 5px; border: 2px blue dashed;}
        .unli {border: green 1px dashed; padding: 5px;}
    </style>
    <title>0114 django proj demo4 </title>
</head>
<body>
    <h2>0114 django proj demo</h2>
    <p>
        ___#ex0114 video > w2 resturant menu API project w/ drf _____<br>
    </p>
    <ul class="unli">
        <li>Create menu items</li> <br>
        <li>List menu items</li> <br>
        <li>Edit menu items</li> <br>
        <li>Delete menu items</li> <br>
        <li>Get random menu items for special ad.</li> <br>
    </ul>
    <p>
        __#ex0114 <b><i>models.py</i></b> <br> -------------------- <br>



    </p>


</body>
</html>