<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {padding: 6px; border: 1px blue dashed;}
    </style>
    <title>0115 django token-based authentication if DRF</title>
</head>
<body>
    <h2>0115 token-based authentication demo</h2>
    <p>
        ___#0115 installation<br>--<b><i>settings.py</i></b>-----------------<br>
        | INSTALLED_APPS = [<br>
        | .. 'rest_framework.authtoken', <br>| ] <br>

        <br>
        <br>

    </p>
</body>
</html>